<%include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/debate.css">
<script src="/javascripts/lib/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
</head>

<body>
    <%include base/header.ejs %>
    <button id="start" class="btn btn-primary">Test: 开始比赛</button>
    <div class="main-wrapper">
        <div class="main">
            <div class="title">
                <img src="images/debate-title-background.png" alt="">
                <span class="title-font"></span>
            </div>
            <div class="debate-box">
                <div class="debate-progress">
                    <div class="debate-start">
                        <div class="line start-sign-line fl"></div>
                        <span class="sign-font">辩论开始，辩论双方轮流发言</span>
                        <div class="line start-sign-line fr"></div>
                    </div>

                    <!-- <div class="free-debate hide">
                        <div class="line free-sign-line fl"></div>
                        <span class="sign-font">立论结束，自由辩论开始</span>
                        <div class="line free-sign-line fr"></div>
                    </div>
                    <div class="last-debate hide">
                        <div class="line last-debate-sign-line fl"></div>
                        <span class="sign-font">自由辩论结束，辩论双方总结观点</span>
                        <div class="line last-debate-sign-line fr"></div>
                    </div>
                    <div class="end-debate hide">
                        <div class="line end-sign-line fl"></div>
                        <span class="sign-font">辩论结束</span>
                        <div class="line end-sign-line fr"></div>
                        <div class="debate-result hide">
                            <p class="result-font fl">正方获胜</p>
                            <div class="result-line fl"></div>
                                <div class="result-positive-avatar fl">
                                    <div class="result-positive-avatar-blank">
                                    <img src="images/icon_avatar.jpg" alt="">
                                    </div>
                                </div>

                                <div class="line result-mvp-line fr">
                                <div class="result-negative-avatar fl">
                                    <div class="result-negative-avatar-blank">
                                    <img src="images/icon_avatar.jpg" alt="">
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> -->
                    <!-- <div class="comment">
                        <div class="line comment-line"></div>
                        <span class="comment-font">评论区</span>
                    </div> -->
                    <!-- <div class="end-debate">
                        <div class="line end-sign-line fl"></div>
                        <span class="sign-font">辩论结束</span>
                        <div class="line end-sign-line fr"></div>
                        <div class="debate-result">
                            <p class="result-font fl">正方获胜</p>
                            <div class="result-line fl"></div>
                            <div class="result-wrapper fl">
                                <div class="mvp">
                                    <img class="fl" src="http://www.fzlqqqm.com/uploads/allimg/20150306/201503062251092154.jpg" alt="">
                                    <h4>MVP</h4>
                                    <span>不会挖洞的土拨鼠</span>
                                    ·
                                    <span>反方一辩</span>
                                </div>
                                <div class="line result-mvp-line fr"></div>
                                <div class="statement">
                                    <img class="fl" src="http://www.fzlqqqm.com/uploads/allimg/20150306/201503062251092154.jpg" alt="">
                                    <h4>最佳言论</h4>
                                    <span>成长中的樱桃树</span>
                                    ·
                                    <span>正方一辩</span>
                                    ·
                                    <span>自由辩论（三）</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="debater-view">
                <div class="live-box">
                    <div class="live-box-content">
                        <ol class="breadcrumb debater-switch fl hide">
                            <li class="active">一辩</li>
                            <li>二辩</li>
                            <li>三辩</li>
                        </ol>
                        <div class="opponent-info">
                            <div id="live-count-down" class="count-down fr">倒计时：--</div>
                        </div>
                        <div class="live-box-line line"></div>
                        <div class="live-content"></div>
                        <div class="live-content-free hide"></div>
                        <div class="live-content-free hide"></div>
                        <div class="live-content-free hide"></div>
                        <p class="word-count fr">字数：220／250</p>

                    </div>
                </div>

                <div class="edit-box">
                    <div class="edit-box-content">
                        <p class="descript">编辑你的发言</p>
                        <div id="edit-count-down" class="count-down fr">倒计时：--</div>
                        <div class="edit-box-line line"></div>

                    </div>

                    <div class="type-button">
                        <input type="button" value="总结" class="conclude-button">
                        <input type="button" value="分点" class="point-button">
                        <input type="button" value="例子" class="example-button">
                        <input type="button" value="反驳" class="argue-button">

                        <div class="button-hink fb"></div>
                        <div class="edit-button-line line"></div>
                    </div>

                    <div id="editcon" class="edit-content">
                    </div>
                    <input type="button" value="发表" class="edit-publish-button fr">
                    <p class="word-count">字数：220／250</p>
                </div>
            </div>
        </div>
    </div>
    <%include base/footer.ejs %>
</body>

<!-- <script src="/javascripts/debate.js"></script> -->
<script src="/javascripts/debateM.js"></script>
</html>