<%include base/head.ejs %>
  <link rel="stylesheet" href="/stylesheets/debate.css">
    </head>  
    <body>
        <% include base/header.ejs %>
        <div class="main-wrapper">
            <div class="main">
                <div class="title">一段感情中必定存在占有欲吗？</div>
                <div class="debate-box">a</div>
                <div class="live-box">b</div>
                <div class="edit-box">c</div>
            </div>
        </div>
        <%include base/footer.ejs %>
    </body>
</html>