<%include base/head.ejs %>
  </head>  
  <body>
    <div class="header">
        <ul class="nav nav-tabs" style="display: inline-block;width: 200px;">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="#">榜单</a></li>
        </ul>
        <div style="display: inline-block;width: 200px;float: right;">
            <button>头像</button>
            <button>通知</button>
            <button>私信</button>
        </div>
    </div>
    <div class="content">
        <div class="hot">
            <h2>本周热点</h2>
            <ul></ul>
        </div>
        <div class="list">
            <h3>榜单</h3>
            <ul></ul>
        </div>
        <div class="recommend">
            <h3>推荐</h3>
            <ul></ul>
        </div>
        <div class="new-dabate"></div>
    </div>
    <%include base/footer.ejs %>
  </body>  
</html>