<%include base/head.ejs %>
  </head>  
  <body>
    <% include base/header.ejs %>
    <div class="content">
        <!-- <div class="hot">
            <h2>本周热点</h2>
            <ul></ul>
        </div>
        <div class="list">
            <h3>榜单</h3>
            <ul></ul>
        </div>
        <div class="recommend">
            <h3>推荐</h3>
            <ul></ul>
        </div>
        <div class="new-dabate"></div> -->
    </div>
    <%include base/footer.ejs %>
  </body>  
</html>