<%include base/head.ejs %>
    <style>
        body {
            padding: 20px;
        }
        .create-competition .form-control {
            width: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
  </head>  
  <body>
    <div class="join-competition">
        <h3>进入辩论赛</h3>
        <button id="randomJoin" class="btn btn-primary">进入数据库中第一场比赛</button>
        <br>
        <label>比赛id</label>
        <input type="text" class="compId">
        <button id="idJoin" class="btn btn-primary">根据id进入辩论赛</button>
    </div>
    <div class="create-competition">
        <h3>新建辩题</h3>
        <label for="competitionTitle">用户名（正方三个辩手，反方三个辩手）</label>
        <input type="text" class="form-control user-name">
        <label for="competitionTitle">用户密码（正方三个辩手，反方三个辩手）</label>
        <input type="text" class="form-control password">
        <label for="competitionTitle">辩题</label>
        <input type="text" class="form-control title">
        <label for="profile">立场简述</label>
        <input type="text" class="form-control profile">
        <button class="btn btn-primary">创建</button>
    </div>
    

    <%include base/footer.ejs %>
    <script src="/javascripts/loginAndRegister.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script>
        $(function() {
            // 进入数据库第一场比赛
            $('#randomJoin').click(function() {
                $.post(config.prefixPath + '/competition/getDetail', {random: true}, function(result, staus) {
                    window.location.href = 'http://localhost:3000/debate?compId=' + result.compId;
                });
            });
            // 根据id进入比赛
            $('#idJoin').click(function() {
                var compId = $('.join-competition .compId').eq(0).val();
                $.post(config.prefixPath + '/competition/getDetail', {compId: compId}, function(result, staus) {
                    window.location.href = 'http://localhost:3000/debate?compId=' + result.compId;
                });
            });
            $('.create-competition .btn').click(function() {
                var $create = $('.create-competition').eq(0);
                var userName = $create.find('.user-name').eq(0).val();
                var password = $create.find('.password').eq(0).val();
                var title = $create.find('.title').eq(0).val();
                var profiles = $create.find('.profile').eq(0).val();
                var query = {
                    userName: userName,
                    password: password,
                    title: title,
                    profiles: profiles
                };
                $.post(config.prefixPath + '/competition/createT', query, function(result, status) {
                    console.log(result);
                });
            });
        });
    </script>
  </body>
</html>