<%include base/header.ejs%>
    <link rel="stylesheet" href="/stylesheets/loginAndRegister.css">
  </head>  
  <body>  
    <div class="register-wrapper">
        <div class="content register-content">
            <div class="head">
                <span class="switch-to to-login">
                    <a href="/login" class="text">登录</a>
                </span>
            </div>
            <div class="main">
                <span class="title">
                    <span class="dot"></span>
                    <span class="horizon-line"></span>
                    <span class="text">注册</span>
                    <span class="horizon-line"></span>
                    <span class="dot"></span>
                </span>
                <div id="requiredInfo" class="info">
                    <div class="input-area">
                        <label for="phone">手机号</label>
                        <input type="text" name="phone" class="phone" />
                    </div>
                    <span class="horizon-line"></span>
                    <div class="input-area">
                        <label for="password">输入密码</label>
                        <input type="password" name="password" class="password" />
                    </div>
                </div>
                <button class="btn btn-primary confirm-btn" id="registerBtn">确认</button>
            </div>
        </div>
        <%include base/alertWarning.ejs %>
    </div>
    <%include base/footer.ejs %>
    <script src="/javascripts/loginAndRegister.js"></script>
  </body>  
</html>