html {
    font-family: '微软雅黑' sans-serif;
    background-color: rgba(14,108,197,0.04);
}
/* base */
button, input {
    outline: none !important;
}
ul li {
    list-style: none;
}
/* position */
.pa {
    position: absolute;
}
.pr {
    position: relative;
}
/* float */
.fr {
    float: right;
}
.fl {
    float: left;
}
.clearfix {
    clear: both;
}
/* display */
.hide {
    display: none;
}
/* header */
.header-wrapper {
    width: 100%;
    height: 53px;
    background-color: #fff;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.19);
}
.header-wrapper .header {
    width: 1240px;
    padding-left: 280px;
    padding-right: 100px;
}
.header-wrapper .header ul {
    height: 53px;
    display: flex;
    align-items: center;
}
.header-wrapper .header .left li {
    font-size: 17px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    width: 61px;
}
.header-wrapper .header .left li a {
    text-decoration: none;
}
.header-wrapper .header .right li {
    margin-right: 15px;
}
.header-wrapper .header .right .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border:1px solid #509ae1;
    overflow: hidden;
}
.header-wrapper .header .right .avatar img {
    width: 100%;
    height: 100%;
}
/* main */
.main-wrapper {
    width: 100%;
}
.main-wrapper .main {
    width: 1017px;
    margin: auto;
}
