.body{
    background:rgba(12,130,244,0.04);
    font-size: 26px;
}

.main{
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto; 
    background:rgba(12,130,244,0.04);
}

.main h1{
    font-size: 200%;
    font-weight: 200;
    letter-spacing: 5px;
}

.main ul{
    padding-left: 0;
    margin-top: 2%;
}

.main .single-list-debate{  /*这里修改辩论框长度和高度*/
    width: 800px;
    height: 380px;

    background:#ffffff;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.19);
    list-style-type: none;
}

.main .single-list-debate .list-debate-title{
    width: 100%;
    height: 20%;
    overflow: hidden;
    position: relative;
}

.main .single-list-debate .list-debate-title div{
    font-size:250%;
    font-family: SimSun;
    color:rgba(10,69,125,0.84);
    letter-spacing:5px;
    text-align:left;
    position: absolute;
    font-weight: bold;
    z-index: 2;
    margin-left: 1.5%;
}

#debate-title-bk{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

#list-bk{
    width: 10%;
    height: 98%;
    position: absolute;
    display: block;
}

.main .single-list-debate .list-debate-title span{
    font-family: SimSun;
    font-weight: bold;
    font-size: 230%;
    color:#ffffff;
    letter-spacing: 0.6ex;
    line-height:48px;
    text-align:left;
    margin-left: 5%;
    margin-top: 2%;
    position: absolute;
    text-shadow:-1px 0 4px #000000;
}

.main .single-list-debate .list-debate-info{
    width: 90%;
    margin: 0px auto;
}

.list-debate-info .debate-info .debate-time{
    font-family: SimSun;
    font-size: 130%;
    margin-top: 2%;
    font-weight: bold;
}

.debater-info-box{
    background:#ffffff;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.19);
    width: 48%;
    height: 180px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.debate-info .debater-info-box .side-font{
    font-family: SimSun;
    font-size:200%;
    letter-spacing:0;
    line-height:64px;
    text-shadow:0 0 1px rgba(203,203,203,0.50);
    text-align:left;
    width: 5%;
    margin-left: 5%;
    padding-top: 10%;
    font-weight: bold;
}

.debate-info .debater-info-box .verticle-line{
    border:0 solid;
    background-color:rgba(15,108,197,0.16);
    width:1.2px;
    height:84%;
    margin-top: 4%;
    margin-left: 8%;
    display: inline-block;
    margin-right: 5%;
}

.debate-info .debater-info-box .debater-info-line{

}

.debate-info .debater-info-box .debater-box{
    margin-top: 5px;
    margin-right: 5%;
}

.debate-info .debater-info-box .debater{
    margin-bottom: 5px;
}

.debater-avatar{
    margin-top: 9px;
    border:2px solid #509ae1;
    width:40.4px;
    height:40.4px;
    border-radius:100%;
    overflow: hidden;
}

.debater-box-orange .debater-avatar{
    margin-top: 9px;
    border:2px solid #f67a23;
    width:40.4px;
    height:40.4px;
    border-radius:100%;
    overflow: hidden;
}

.debater-avatar-blank{
    border:2px solid white;
    width:36.4px;
    height:36.4px;
    border-radius:100%;
    overflow: hidden;
}

.debater-avatar img{
    width: 100%;
    height:100%;
}

.dot{
    width:6px;
    height:6px;
    border-radius:50%;
    margin-bottom: 2.5px;
    margin-top: 26px;
    margin-left: 10px;
}

.debater-intro{
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}

.debater-name{
    font-size: 15px;
    font-weight: bold;
}

.debater-introduce{
    font-size: 12px;
    margin-top: 5px;
}

.enter-button{
    background:#3788d4;
    border-radius:5px;
    width:71px;
    height:33px;
    color: white;
    font-family: SimSun;
    border: none;
    letter-spacing: 7px;
    text-align: center;
    font-size: 16px;
}

.blue{
    color:#509ae1;
}

.orange{
    color:#f67a23;
}

.bkblue{
    background: #509ae1;
}

.bkorange{
    background:#f67a23;
}
