<!DOCTYPE html>  
<html>  
  <head>  
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/lib/base.css" />
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/common.css" />