<div class="header-wrapper">
    <div class="header clearfix">
        <ul class="left fl">
            <li class="active fl"><a href="#">首页</a></li>
            <li class="fl"><a href="#">榜单</a></li>
        </ul>
        <ul class="right fr">
            <li class="avatar fl"><img id="header-avatar" src="images/icon_avatar.jpg" alt=""></li>
            <li class="inform fl">通知</li>
            <li class="message fl">私信</li>
        </ul>
    </div>
</div>